---
import { Image } from 'astro:assets';
// Import a reference to the image itself
import Fresas from '../assets/strawberry.jpg';
import Fresas2 from '../assets/strawberry2.jpg';
import Galleta from '../assets/cookie.webp';
import Galleta2 from '../assets/stack-cookie.jpg';
---

<div class="flex justify-center gap-10 py-10">
  <div class="card max-w-96 max-h-[600px] bg-base-100 shadow-xl">
    <figure>
      <Image src={Fresas} alt="Fresas" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Fresas con Avena!</h2>
      <p>Disfruta las mejores fresas de la galaxia</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">5.99$</button>
      </div>
    </div>
  </div>
  <div class="card w-96 max-h-[600px] bg-base-100 shadow-xl">
    <figure>
      <Image src={Fresas2} alt="Fresas Combo" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">(3x) Fresas con Avena!</h2>
      <p>Compra mas disfruta mas con esta promoción</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">15$</button>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center gap-10">
  <div class="card w-96 max-h-[600px] bg-base-100 shadow-xl">
    <figure>
      <Image src={Galleta} alt="Galleta" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Galleta</h2>
      <p>
        Disfruta una deliciosa galleta echa con avena, super nutritiva con mucha
        calidad!
      </p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">3.99$</button>
      </div>
    </div>
  </div>
  <div class="card w-96 max-h-[600px] bg-base-100 shadow-xl">
    <figure>
      <Image src={Galleta2} alt="Galletas Combo" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">(7x)Pack de Galletas</h2>
      <p>La mejor oferta para galletas si tienes una obsesión con ellas 😋</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">12$</button>
      </div>
    </div>
  </div>
</div>
